<head>
  <link rel="stylesheet" href="https://gitcdn.xyz/repo/angular/bower-material/master/angular-material.css">
  <meta name="viewport" content="initial-scale=1" />
</head>

<!--<body ng-app="StarterApp" layout="column" ng-controller="AppCtrl">
  <md-toolbar layout="row">
    <div class="md-toolbar-tools">
      <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
      </md-button>
      <h1>Hello World</h1>
    </div>
  </md-toolbar>
  <div layout="row" flex>
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
    </md-sidenav>
    <div layout="column" flex id="content">
      <md-content layout="column" flex class="md-padding">
      </md-content>
    </div>
  </div>
</body>-->

<body>
{{> createCase}}
</body>

<template name="createCase">
  <div id="MainWrap" ng-app="inputIconDemo" ng-controller="DemoCtrl" layout="column" ng-cloak>
    <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <h1>Company Name</h1>
      </div>
    </md-toolbar>
    <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <h1>Product Name</h1>
      </div>
    </md-toolbar>
    <br/>
    <md-content layout-padding class="autoScroll">

      <form>

      <md-input-container class="md-icon-float">
        <!--<md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>-->
        <md-icon md-svg-icon="social:ic_person_24px"></md-icon>
        <input ng-model="user.name" type="text" placeholder="Name (required)" ng-required="true">
      </md-input-container>
      <md-input-container md-no-float>
        <!--<md-icon md-svg-src="img/icons/ic_phone_24px.svg"></md-icon>-->
        <md-icon md-svg-icon="communication:ic_phone_24px"></md-icon>
        <input ng-model="user.phone" type="text" placeholder="Phone Number (required)" ng-required="true">
      </md-input-container>
      <md-input-container >
        <!-- Use floating placeholder instead of label -->
        <!--<md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>-->
        <md-icon md-svg-icon="communication:ic_email_24px"></md-icon>
        <input ng-model="user.email" type="email" placeholder="Email (required)" ng-required="true">
      </md-input-container>
      <md-input-container flex>
        <md-icon md-svg-icon="image:ic_edit_24px"></md-icon>
        <textarea ng-model="user.message" columns="1" md-maxlength="150" placeholder="Issue Description (required)" ng-required="true"></textarea>
      </md-input-container>

      <md-button type='submit'>SUBMIT</md-button>

      </form>

    </md-content>
  </div>
</template>